{% extends "base.html" %}

{% block content %}
  <div class="w-full flex justify-center p-8">
    <div class="w-128 space-y-2">
      <div class="w-full border border-gray-500 space-y-4 p-2">
        <div>
          {% for product in products %}
            <div class="w-full flex justify-between">
              <p>{{ product.title }}</p>
              <p>${{ product.price }}</p>
            </div>
          {% endfor %}
        </div>
        <div class="flex justify-between">
          <p>Total</p>
          <p class="text-emerald-600 font-bold">${{ total|floatformat:2 }}</p>
        </div>
      </div>
      <form method="post">
        {% csrf_token %}
        {{ form }}
        <div class="flex justify-center mt-4 space-x-2">
          <button type="submit" class="flex-2 py-1 px-2 text-white bg-blue-400 rounded-lg cursor-pointer">Purchase</button>
          <a
            href="{% url "shop:purchase-cancel" %}"
            class="flex-1 py-1 px-2 text-center text-white bg-red-500 rounded-lg cursor-pointer">
            Cancel
          </a>
        </div>
      </form>
    </div>
  </div>
{% endblock content %}
