<div class="max-w-64 p-2 shadow-xl space-y-2 rounded-lg">
  <img src="{{ product.image_url }}" alt="{{ product.title }}">
  <div>
    <h3 class="font-bold">{{ product.title }}</h3>
    <p class="font-bold text-emerald-600">${{ product.price }}</p>
  </div>
  <div class="flex space-x-1">
    <a
      href="{% url "shop:detail" product.pk %}"
      class="flex-1 text-center py-1 px-2 bg-yellow-400 rounded-lg"
    >View</a>
    <button
      class="flex-2 text-center py-1 px-2 bg-yellow-400 rounded-lg cursor-pointer"
      hx-post="{% url "shop:cart-add" product.pk %}"
      hx-target="#cart-badge"
      hx-swap="innerHTML"
    >Add to Cart</button>
  </div>
</div>
