{% extends "base.html" %}

{% block content %}
  <div class="p-4 flex space-x-8 border border-gray-200">
    <img class="sm:w-96 w-64 rounded-lg" src="{{ product.image_url }}" alt="{{ product.title }}">
    <div class="pt-8 space-y-2">
      <h3 class="font-bold sm:text-2xl text-xl">{{ product.title }}</h3>
      <p>{{ product.description }}</p>
      <p class="font-bold text-emerald-600 text-xl">${{ product.price }}</p>
      {% include "shop/add_to_cart_btn.html" with class="" %}
    </div>
  </div>
{% endblock content %}
